* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.truncate-2-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* Number of lines to show */
    max-height: 3em; /* (Line height * number of lines) + (line height / 2) */
    line-height: 1.5em; /* Line height of text */
}

a{
    text-decoration: none;
}
.text-align-center{
    text-align: center;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-login{
    background-color: #131142;
    border-radius: 8px;
    height: 40px;
    border: none;
}
.btn-login:hover {
    background-color:  #05009d;
}

.btn-icon{
    border: 1px solid #ccc;
    width: 130px;
    height: 45px;
    border-radius: 10px;
    font-size: 24px;
    cursor: pointer;
}

.hr-line{
    width: 100%;
}

.list-tour{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
}
.item-tour{
    border-radius: 8px;
    background-color: #e9ecef;
    height: fit-content;

}
.item-tour-image {
    width: 400px;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-color: #dfdfdf !important;
    border-radius: 8px;
    aspect-ratio: 1.91 !important;
    position: relative;
    overflow: hidden;
}
.item-tour-image img{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 130%;
    height: 130%;
    object-fit: contain;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
}

.item-tour:hover .item-tour-image img {
    transform: translate(-50%, -50%) scale(1.1);
}

/* Slide */
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/*  */
.logo-tour{
    border-radius: 8px;
    width: 40px;
    height: 40px;
}

.top{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-top{
    width: 100%;
    max-height: 500px;
}
.form-search{
    position: absolute;
    z-index: 1;
}
.input-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 15px;
    border-radius: 50px;
}

.input-search input:focus-visible,
.input-search input{
    outline: none;
    border: none;
}




.image-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}
.item-image-top{
    position: relative;
    border-radius: 8px;
    width: auto;
 
    
}

.item-image-top img{
    border-radius: 8px;
    aspect-ratio: 1.91;
    width: 200px;
    height: 100%;
    cursor: pointer;
}

.text-image-top {
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    cursor: pointer;
}

.btn-book-now {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold; 
    color: #fff; 
    background-color: #007bff;
    border: none; 
    border-radius: 5px; 
    text-align: center; 
    text-decoration: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.btn-book-now:hover {
    background-color: #0056b3 /* Màu nền khi hover */
}

.btn-book-now:active {
    background-color: #004494; 
}

.btn-book-now:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.btn-add-image{
    cursor: pointer;
}


.book-tour {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.book-tour h1 {
    font-size: 24px;
    margin-top: 20px;
}

.book-tour label {
    font-weight: bold;
}

.book-tour .form-group {
    margin-bottom: 15px;
}

.book-tour .form-control {
    border-radius: 5px;
}

.book-tour .price {
    font-weight: bold;
    font-size: 18px;
}

.book-tour button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-tour button:hover {
    background-color: #0056b3;
}



/* Create edit delete */
.create-tour-btn {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.create-tour-btn:hover {
    background-color: #45a049;
}
.action-button {
    display: inline-block;
    margin-left: 10px; 
    font-size: 16px;
    color: #555;
    transition: color 0.3s;
}

.action-button:hover {
    color: #333;
}

.block-infor{
    background-color:#e3e7ed;
    padding: 20px 0;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}

.img-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
}
th {
    background-color: #f4f4f4;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.btn {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}
.btn-danger {
    background-color: #dc3545;
    color: white;
}
.btn-danger:hover {
    background-color: #c82333;
}

/*  */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa; 
}

.footer-logo img {
    max-height: 50px;
}

.footer-links a, .footer-social a {
    color: #000;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-links a:hover, .footer-social a:hover {
    color: #007bff;
}

.footer-social a i {
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #e9ecef;
}

footer {
    margin-top: auto;
    background-color: #f8f9fa;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
}

/*  */
.text-headered{
    background-color: #131142;
    color: white;
}

.text-header{
    padding: 5px 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.text-header:hover{
    background-color: #131142;
    color: white;
}

.avatar_hover {
    transition: transform 0.1s ease-in-out;
}

.avatar_hover:hover {
    transform: scale(1.1);
}

.image-list .item-image-top {
    display: block;
    overflow: hidden;
    position: relative;
}

.image-list .item-image-top img {
    transition: transform 0.3s ease-in-out;
    display: block;
}

.image-list .item-image-top:hover img {
    transform: scale(1.2);
}


.table th {
    vertical-align: top;
}


.modal-header {
    background-color: #131142;
    color: white; 
    border-bottom: none; 
}

/* Modal title */
.modal-title {
    font-weight: bold;
    font-size: 1.5rem; 
}

/* Modal body */
.modal-body {
    padding: 20px; 
}


.modal-footer .btn {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.modal-footer .btn-secondary {
    background-color: #6c757d; 
}

.modal-footer .btn-primary {
    background-color: #131142; 
}


.modal-footer .btn:hover {
    background-color: #131142; 
    transform: scale(1.05);
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 80%;
}

.modal-content {
    margin: auto; 
}

.btn-tour{
    background-color: #131142 !important;
    color: #fff;
}

.btn-tour:hover{
    background-color: #0056b3 !important;
    color: #fff;

}

.btn-tour-disabled{ 
    background-color: #6c757d !important;
    pointer-events: none;
    cursor: not-allowed;
}


.text-navbar{
    padding: 15px 15px 20px 0px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.text-navbar:hover{
    background-color: #131142;
    color: white;
}

.text-hover{
    padding: 20px 170px 20px 10px;
}

.text-hover:hover{
    color: white;
}

.swiper-button-prev:after,
.swiper-button-next:after{
    color: white !important;
}

.cursor-pointer{
    cursor: pointer;
}

#guide {
    height: 50px !important;
}

.status-badge {
    font-size: 26px;
}

.payment-status {
    width: 200px;
    font-size: 16px;
}

.payment-status option[value="unpaid"] {
    color: #6c757d;
    background-color: #f8f9fa;
}

.payment-status option[value="deposit"] {
    color: #856404;
    background-color: #fff3cd;
}

.payment-status option[value="paid"] {
    color: #155724;
    background-color: #d4edda;
}

.form-select-pay {
    font-size: 16px;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: 1px solid #ced4da;
}

.form-select-pay option {
    padding: 0.5rem;
}


.w-150px{
    width: 150px !important;
    flex: none !important;
}

.form-select-date {
    width: 100%; 
    font-size: 16px;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: 1px solid #ced4da; 
}

.form-select-date option {
    padding: 0.5rem; 
}

.select2-selection{
    height: 35px !important;
}